.card-container {
  /* width: 100%; */
  width: 280px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

/* Image */
.card-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Body */
.card-body {
  padding: 12px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-category {
  font-size: 13px;
  color: gray;
}

/* Rating + Time */
.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 8px 0;
}

/* Bottom section */
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button */
.add-btn {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #084298;
}